# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mongodb+srv://aittaleb108:dnny43rr36kGXFbV@cluster0.dsjo2dj.mongodb.net/NEXTSHOP"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="+DRVMZtnfH6AnKaqruxAQEXoxxz4dz2nlHn/phHxb8U="
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
GITHUB_CLIENT_ID="4cc7934ffd204e5ca1a9"
GITHUB_CLIENT_SECRET="bb5c677d95cc8ce377ce98419e11705a7fd50bb7"
